* {
  margin: 0;
  padding: 0;
  /* box-sizing: */
}
/* 鼠标样式 */
.cursor_pointer {
  cursor: pointer;
}
/* 输入框样式 */
.input_style {
  width: 325px;
  height: 35px;
  line-height: 16px;
  padding: 14px;
  outline: none;
  border: none;
  border-radius: 8px;
  background: #ecf0f1;
  margin-bottom: 3%;
}
/* 按钮样式 */
.btn_style {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 24px;
  background: #ffd205;
  line-height: 24px;
  font-size: 16px;
  padding: 10px 30px;
  margin-top: 2%;
}
/* 导航栏 */
.navigator_bar {
  width: 100%;
  height: 64px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #ffd205;
  color: black;
}
/* 导航栏菜单 */
.navigator_bar_content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: auto;
  align-items: center;
}
/* 导航栏logo */
.navigator_bar_logo {
  font-size: 30px;
  font-family: "ZhenyanGB Regular", Courier, monospace;
}
/* 登陆注册弹窗  */
.login_div {
  position: absolute;
  width: 380px;
  height: 300px;
  z-index: 1999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1%;
  background: white;
  border-radius: 20px;
  box-shadow: 0 12px 24px 0 rgba(28, 31, 33, 0.1);
}
.login_main {
  margin: auto;
  position: absolute;

  left: 0;
  right: 0;
  width: 350px;
}
.login_header {
  display: grid;
  grid-template-columns: 75px 75px auto 32px;
  grid-column-gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* 输入框输入区域 */
.login_content {
}
/* 蒙层遮罩 */
.login_backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(28, 31, 33, 0.6);
}
/* 轮播图 */
.slide_show {
  width: 1200px;
  margin: auto;
  min-height: 400px;
  background: no-repeat center / 100% url(../imgs/机构工作室banner.jpg);
}
/* 页面内容 */
.center_content {
  width: 80%;
  min-height: 200px;
  background: cornflowerblue;
  margin: 0 auto;
  margin-top: 20px;
}
/* 选择列表样式 */
.tab_list {
  width: 100%;
}
.tab_list_ul {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
